---
import type { MarkdownInstance, MarkdownLayoutProps } from "astro";
import type { Frontmatter } from "../types";
type Props = { project: MarkdownInstance<Frontmatter> };
const { project } = Astro.props;
---

<div class="max-w-4xl mx-auto">
  <div
    class="rounded-t flex sm:justify-between sm:items-center flex-col gap-2 sm:flex-row bg-violet-200 px-2 py-4"
  >
    <div>
      <div>
        <h3 class="font-bold text-violet-900 text-lg">
          {project.frontmatter.title}
        </h3>
        <p class="text-gray-800">{project.frontmatter.description}</p>
      </div>
    </div>
    <div>
      <a
        href={project.frontmatter.live}
        target="_blank"
        aria-label={`view ${project.frontmatter.title} live`}
        class="bg-violet-800 hover:bg-violet-900 cursor-pointer text-white p-2 rounded text-md border-2 border-violet-800 shadow-violet-900"
        >View Live</a
      >
      <a
        href={project.url}
        aria-label={`learn more about ${project.frontmatter.title}`}
        class="border-violet-900 border-2 hover:bg-violet-300 cursor-pointer text-violet-900 p-2 rounded text-md shadow"
        >Learn More</a
      >
    </div>
  </div>
  <div class="max-h-[400px] rounded-b bg-black/50 overflow-hidden">
    <img
      class="card mx-auto"
      src={project.frontmatter?.image?.url}
      alt={`${project.frontmatter.title} demo image`}
    />
  </div>
</div>
