---
import Base from "./Base.astro";
import type { Frontmatter } from "../types";
import type { MarkdownLayoutProps } from "astro";
import TechIcon from "../components/TechIcon.astro";

type Props = MarkdownLayoutProps<Frontmatter>;
const { frontmatter } = Astro.props;
const bgColor = frontmatter.background || "/slicewars.svg";
---

<Base pageTitle={frontmatter.title}>
  <div
    class="min-h-screen relative overflow-hidden text-violet-100 bg-gray-800/90 py-8"
  >
    <div class="max-w-2xl px-4 z-50 mx-auto">
      <h2 class="text-8xl text-center font-bold text-white">
        {frontmatter.title}
      </h2>
      <p class="text-center text-xl"><em>{frontmatter.description}</em></p>
      <img
        class="mx-auto my-4"
        src={frontmatter?.image?.url}
        width="300"
        alt={frontmatter?.image?.alt}
      />
      <div class="tags flex items-center mb-4 justify-center py-2 gap-2">
        {
          frontmatter.tech.map((tag) => (
            <TechIcon title={tag.title} url={tag.url} />
          ))
        }
      </div>
      <div class="poppop flex flex-col gap-4">
        <slot />
      </div>
    </div>
    <img
      src={bgColor}
      class="absolute -z-10 mx-auto top-0 right-0 left-0 bottom-0 object-fit"
    />
  </div>
</Base>
<style is:global>
  .poppop h1,
  .poppop h2,
  .poppop h3 {
    font-weight: bold;
  }
  .poppop h1 {
    font-size: 3rem;
  }
  .poppop h2 {
    font-size: 2rem;
  }
  .poppop p {
    font-size: 1.2rem;
  }
</style>
