---
import Base from "./Base.astro";
import type { Frontmatter } from "../types";

type Props = {
  frontmatter: Frontmatter;
};
const { frontmatter } = Astro.props;
const bgColor = frontmatter.background;
---

<Base pageTitle={frontmatter.title}>
  <div class="min-h-screen relative overflow-hidden text-white bg-gray-800/80">
    <div class="z-20 max-w-2xl mx-auto">
      <h2>{frontmatter.title}</h2>
      <p><em>{frontmatter.description}</em></p>
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />
      <div class="tags">
        {
          frontmatter.tech.map((tag: string) => (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
      <slot />
    </div>
    <img
      src={bgColor}
      class="absolute top-0 right-0 left-0 bottom-0 object-fit -z-10"
    />
  </div>
</Base>
